# Gradle
.gradle/
build/

# Local config
local.properties

# IDE
.idea/
*.iml

# Kotlin
.kotlinc/
*.salive
*.log

# Android Studio cache
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db